Source: pihsm
Section: python
Priority: optional
Maintainer: Jason Gerard DeRose <jason@system76.com>
Build-Depends: debhelper (>= 9),
    dh-python,
    dh-systemd,
    python3-all (>= 3.5),
    python3-sphinx,
    pyflakes3,
    python3-nacl,
    python3-serial,
    python3-smbus,
Standards-Version: 3.9.8
X-Python3-Version: >= 3.5
Homepage: https://launchpad.net/pihsm

Package: python3-pihsm
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
    python3-nacl,
Suggests: python3-pihsm-doc
Description: use your Raspberry Pi as a Hardware Security Module
 This turns your Raspberry Pi into a Hardware Security Module.
 .
 PiHSM provides an offline Public Key Signature server using the Ed25519
 digital signature algorithm.

Package: python3-pihsm-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Suggests: python3-pihsm
Description: use your Raspberry Pi as a Hardware Security Module [documentation]
 This turns your Raspberry Pi into a Hardware Security Module.
 .
 PiHSM provides an offline Public Key Signature server using the Ed25519
 digital signature algorithm.

Package: pihsm-private
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
    python3-pihsm (>= ${binary:Version}),
Recommends: rng-tools
Description: use your Raspberry Pi as a Hardware Security Module [Signing Service]
 This turns your Raspberry Pi into a Hardware Security Module.
 .
 PiHSM provides an offline Public Key Signature server using the Ed25519
 digital signature algorithm.
 .
 This package provides the private key service.

Package: pihsm-display
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
    python3-pihsm (>= ${binary:Version}),
    pihsm-private (>= ${binary:Version}),
    python3-smbus,
Description: use your Raspberry Pi as a Hardware Security Module [LCD Control]
 This turns your Raspberry Pi into a Hardware Security Module.
 .
 PiHSM provides an offline Public Key Signature server using the Ed25519
 digital signature algorithm.
 .
 This package provides a service to control the 20x4 character I2C LCD display.

Package: pihsm-server
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
    python3-pihsm (>= ${binary:Version}),
    pihsm-private (>= ${binary:Version}),
    python3-serial,
Recommends: pihsm-display
Description: use your Raspberry Pi as a Hardware Security Module [server]
 This turns your Raspberry Pi into a Hardware Security Module.
 .
 PiHSM provides an offline Public Key Signature server using the Ed25519
 digital signature algorithm.

Package: pihsm-client
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
    python3-pihsm (>= ${binary:Version}),
    python3-serial,
Description: use your Raspberry Pi as a Hardware Security Module [client]
 This turns your Raspberry Pi into a Hardware Security Module.
 .
 PiHSM provides an offline Public Key Signature server using the Ed25519
 digital signature algorithm.

