[Unit]
Description=PiHSM Private Service
After=pihsm-private.socket rng-tools.service
Requires=pihsm-private.socket rng-tools.service

[Service]
RuntimeDirectory=pihsm-private
User=pihsm-private
ExecStart=/usr/bin/pihsm-private
Restart=no

[Install]
WantedBy=multi-user.target

