[Unit]
Description=PiHSM Display Socket
PartOf=pihsm-private.service

[Socket]
ListenStream=/run/pihsm/private.socket

[Install]
WantedBy=sockets.target
