[Unit]
Description=PiHSM Display Socket
PartOf=pihsm-display.service

[Socket]
ListenStream=/run/pihsm/display.socket
Backlog=0
SocketGroup=pihsm-display-client
SocketMode=660

[Install]
WantedBy=sockets.target
