[Unit]
Description=PiHSM Display Socket
PartOf=pihsm-private.service

[Socket]
ListenStream=/run/pihsm/private.socket
Backlog=0
SocketGroup=pihsm-private-socket
SocketMode=660

[Install]
WantedBy=sockets.target
