[Unit]
Description=PiHSM Server Service
After=pihsm-private.service
Requires=pihsm-private.service

[Service]
User=pihsm-server
ExecStart=/usr/bin/pihsm-server
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target

