[Unit]
Description=PiHSM Display Service

[Service]
User=pihsm-display
ExecStart=/usr/bin/pihsm-display
Restart=always

[Install]
WantedBy=multi-user.target

