[Unit]
Description=PiHSM Private Key Signing Service
After=pihsm-private.socket
Requires=pihsm-private.socket

[Service]
RuntimeDirectory=pihsm-private
User=pihsm-private
ExecStart=/usr/bin/pihsm-private
Restart=no

[Install]
WantedBy=multi-user.target

