[Unit]
Description=pihsm server

[Service]
User=pihsm-server
ExecStart=/usr/bin/pihsm-server
Restart=on-failure

[Install]
WantedBy=multi-user.target

