#!/usr/bin/make -f

# See https://wiki.debian.org/Python/LibraryStyleGuide

%:
	dh $@ --buildsystem=pybuild --with=python3,systemd

override_dh_auto_test:
	set -ex; for python in $(shell py3versions -r); do \
		$$python -Werror setup.py test; \
	done

